.temp-project {
    background-image: linear-gradient(0deg, #378798 0%, rgba(55, 135, 152, 0.81) 31.89%, rgba(196, 196, 196, 0) 87.98%, rgba(196, 196, 196, 0) 109.95%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    width: 100%;
    height: 206px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    cursor: pointer;
  }

  .activity-flex-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .activity-flex-info > div{
    display: flex;
    gap: 10px;
    align-items: center;
  }