.article-flex {
  height: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  max-width: 288px;
  background-color: #ffffff;
  cursor: pointer;
}

.article-flex > img {
  /* background-color: #e5e5e5; */
  height: 204px;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  object-fit: cover;
}

.temp-img{
  background-color: #e5e5e5 !important; 
  height: 204px !important;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  cursor: pointer;
}

.article-flex > div {
  background-color: #ffffff;
  height: 100px;
  padding: 15px 15px 35px 15px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.article-flex-info > h1:first-child{
  margin-bottom: 5px;
}

.article-flex-info-arrow{
  margin-top: 3px;
  margin-right: 5px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.article-flex-info-arrow > img{
  width: 12px;
}

@media screen and (max-width: 1280px) {
  .article-flex {
    /* max-width: inherit; */
    /* width: 100%; */
    margin: 0px 15px;
  }
}

@media screen and (max-width: 960px) {
  .article-flex {
    max-width: 258px !important; 
  }
  
  .article-flex > img {
    height: 184px;
  }

  .article-flex-info-arrow{
    margin-top: 10px;
  }
}