.article-long-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  position: relative;
}

.article-img-banner-banner{
  margin: 0px;
}

.article-img-banner > img {
  height: 244px;
  width: 346px;
  background-color: #e5e5e5;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;

  object-fit: cover;
}

.article-long-flex-info{
  padding: 15px 30px 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  word-wrap: break-word;
}

.posttp-long-flex {
  height: 182px !important;
  width: 159px !important;
}

.article-long-descp{
  margin-top: 18px;
  word-wrap: break-word;
  /* display: none; */
}

.article-long-right{
  width: 17px;
}

.article-activity-info-bottom > div, .article-research-info-bottom > div{
  display: flex;
  align-items: center;
  gap: 10px;
}

.article-research-info-bottom > div{
  cursor:pointer;
}

.article-activity-info-bottom{
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(3, 200px);
  /* grid-template-columns: 1fr 1fr 1fr; */
}

.article-long-icon{
  width: 14px;
}

.article-research-info-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article-research-cat{
  display: flex;
  align-items: center;
  gap: 12px;
}

.article-research-cat > div{
  padding: 2px 6px;
  border: 1px solid #8BBCC7;
  border-radius: 20px;
}

.article-long-calendar{
  width: 15px;
}

.article-long-location{
  width: 17px;
}

.article-long-right{
  width: 17px;
}

.article-long-homepage{
  width: 12px !important;
  position: absolute;
  height: auto !important;
  background-color: transparent !important;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .posttp-long-flex {
    height: 140px !important;
  }

  .article-activity-info-bottom{
    grid-template-columns: repeat(3, 150px);
  }

  .article-img-banner > img {
    width: 203px;
    height: 218px;
  }

}

@media screen and (max-width: 780px) {
    .article-img-banner > img {
      width: 156px;
      height: 184px;
  }

  .article-long-flex-info{
    gap: 24px;
  }

  .article-activity-info-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

@media screen and (max-width: 620px) {
  .article-img-banner > img {
    width: 121px;
    height: 184px;
}

.article-long-flex-info {
  padding: 0px 20px 0px 20px;
}
}

@media screen and (max-width: 560px) {
.article-activity-info-bottom > div:not(:last-child){
  display: none;
}

.article-research-cat{
  display: none !important;
}

.article-activity-info-bottom, .article-research-info-bottom{
  justify-content: flex-end !important;
}

.article-long-flex-info{
  gap: 15px;
}

.article-img-banner > img {
  width: 121px;
  height: 164px;
}
}

@media screen and (max-width: 490px) {
.article-long-descp{
  -webkit-line-clamp: 2 !important;
}

.posttp-long-flex {
  height: 142px !important;
  width: 118px !important;
}

.article-img-banner > img {
  width: 83px;
  height: 141px;
}

.pj-grey-temp, .pj-blue-temp {
  width: 80%;
}

.article-long-right{
  width: 13px;
}
}