.article-flex {
  height: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 288px;
  background-color: #ffffff;
}

.article-flex > img {
  /* background-color: #e5e5e5; */
  height: 204px;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  object-fit: cover;
  cursor: pointer;
}

.temp-img{
  background-color: #e5e5e5 !important; 
  height: 204px !important;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  cursor: pointer;
}

.article-flex > div {
  background-color: #ffffff;
  height: 100px;
  padding: 15px 15px 30px 15px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.article-flex-info > h1:first-child{
  margin-bottom: 5px;
}
