.article-flex {
  height: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 288px;
}

.article-flex > div:first-child {
  background-color: #e5e5e5;
  height: 204px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.article-flex > div:nth-child(2) {
  background-color: #ffffff;
  height: 100px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
