.mb-long-flex {
  display: flex;
  align-items: flex-start;
  gap: 18px;
}

/* Temp */
.mb-long-temp-img {
  width: 130px !important;
  height: 130px !important;
  border-radius: 50%;
  background-color: #c8c8c8;
}

/* Info */

.mb-long-flex-box {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  position: relative;
  padding: 28px;
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
}

.mb-long-flex-box > h1 {
  line-height: 36px;
}

.mb-long-tag {
  width: auto;
  height: 26px;
  border-radius: 20px;
  position: absolute;
  right: 20px;
  top: 20px;

  min-width: 110px;

  padding: 0px 10px;
}

.mb-long-red-tag {
  background-color: #f16f63;
}

.mb-long-blue-tag {
  background-color: #8bbcc7;
}

.mb-long-grey-tag {
  background-color: #c4c4c4;
}

.member-long-clr{
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid;
}

.red-flex {
  border-color: #f16f64 !important;
}

.blue-flex {
  border-color: #86bac5 !important;
}

.black-flex {
  border-color: #C8C8C8 !important;
}

.member-icon{
  display: flex;
  align-items: center;
  gap: 7px;
}

.member-heart{
  align-items: flex-start !important;
}

.member-heart > img{
  margin-top: 5px;
}

.member-icon > img{
  width: 20px;
}

.member-icon > p{
  white-space:normal;
  word-break: break-word;
  display: inline;
}

.member-icon-div{
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

@media screen and (max-width: 1300px) {
  .member-long-clr{
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 1100px) {
  .member-long-clr{
    width: 150px;
    height: 150px;
  }

.mb-long-flex-box{
  max-width: inherit !important;
}

.mb-long-flex {
  align-items: center;
}
}

@media screen and (max-width: 490px) {
  .mb-long-flex{
    flex-direction: column;
  }
  
  .mb-long-flex-box{
    width: auto;
  }

  #member-long-list{
    margin-top: 50px;
  }
  }