.member-flex > div:first-child > div {
  width: 210px;
  height: 210px;
  border-radius: 50%;
}

.red-flex {
  background-color: #f16f64;
}

.blue-flex {
  background-color: #86bac5;
}

.member-flex > div:nth-child(2) {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  height: 164px;
  width: 100%;
  margin-top: -60px;
}
