#navbar-box {
  justify-content: space-around;
  padding: 20px 0px;
  position: relative;
}

#navbar {
  border-bottom: 1px solid #c8c8c8;
}

#navbar-box > h1{
    cursor: pointer;
}

#nav-logo{
  width: 58px;
  position: absolute;
  left: -100px;
  cursor: pointer;
}
