#navbar-box {
  justify-content: space-around;
  padding: 10px 0px;
  position: relative;
  z-index: 1;
}

#navbar {
  border-bottom: 1px solid #c8c8c8;
  z-index: 100 !important;
}

#navbar-box > h1{
    cursor: pointer;
}

#nav-logo{
  width: 49px;
  /* position: absolute; */
  /* left: -50px; */
  cursor: pointer;
}

.nav-logo-hide{
  visibility: hidden;
}

#lang-box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#lang-box > div > h1{
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  #navbar-box > h1{
    display: none;
  }

  #navbar{
    position: fixed;
    width: 100%;
    background-color: #ffffff;
  }

  #navbar-box{
    min-height: 50px;
  }

  #nav-logo{
    top: 7px;
    left: 25px;
    position: absolute;
    visibility: visible;
  }

  #lang-box{
    display: none;
  }

  .nav-logo-hide{
    visibility: visible;
    position: absolute;
  }
}
