#article-page {
  padding: 70px 0px;
}

#article-header {
  display: grid;
  align-items: flex-start;
  justify-content: space-between;
  grid-template-columns: 1.2fr 2fr;
  gap: 20px;
}

#article-header > div {
  position: relative;
}

#article-header-text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

#article-header-text > div:first-child > p {
  margin-top: 38px;
}

#article-logo {
  width: 325px;
}

/* Choice */
#article-tag {
  margin-top: 40px;
  gap: 60px;
  flex-wrap: wrap;
  row-gap: 20px;
}

#article-list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;
}

.article-flex{
  max-width: 323px !important;
}

@media screen and (max-width: 1280px) {
#article-list{
  gap: 20px;
  row-gap: 30px;
}

#article-header{
  flex-direction: column;
  display: flex;
  align-items: center;
}
}

@media screen and (max-width: 1280px) {
  #article-list{
    grid-template-columns: 1fr 1fr;
  }

  .article-flex{
    max-width: inherit !important;
    margin: 0px;
  }
}

@media screen and (max-width: 780px) {
  #article-page{
    padding-top: 150px;
  }
  #article-logo{
    width: 260px;
  }
}

@media screen and (max-width: 590px) {
  #article-list{
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 390px) {
  #article-logo{
    width: 70%;
  }

  #article-header > div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}