#landing-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 44px;
  padding: 170px 0px;
}

#landing-section > div > .bg-home-text {
  margin-bottom: 10px;
}

#qx-logo {
  width: 295px;
}

/* Home About */
#home-about {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 35px 50px;
  z-index: 2;
}

.orange-tri {
  width: 32px;
}

#home-about > div {
  gap: 19px;
}

#home-about > p {
  text-align: center;
  margin-top: 20px;
  line-height: 30px;
}

/* Article */
#article {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 180px;
  padding-bottom: 20px;
  margin-top: -100px;
}

#research-tags{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
}

#research-tags > div{
  border: 4px solid rgba(255, 255, 255, 0.6);
border-radius: 25px;
padding: 1px 36px;
cursor: pointer;
}

#article > div > h1 {
  text-align: center;
}

#home-swiper {
  margin-top: 33px;
  margin-bottom: 20px;
  width: 100%;
  padding-bottom: 60px;
  /* max-width: 204px !important; */
}

.swiper-pagination-bullet{
  width: 18px;
  height: 18px;
}

.swiper-pagination-bullet-active{
  background: #FFFFFF;
}

.swiper-pagination-bullet{
  background: rgba(255, 255, 255, 0.6);;
}

/* .article-flex-box{
  width: 100%;
} */

.swiper-wrapper {
  padding-left: 0px;
}

.swiper-slide {
  list-style: none;
}

#article-container {
  position: relative;
}

.prev-article-arrow,
.next-article-arrow {
  width: 62px;
  position: absolute;
  cursor: pointer;
  top: 50%;
}

.prev-article-arrow {
  left: -120px;
}

.next-article-arrow {
  right: -120px;
}

/* Project */
#home-project {
  position: relative;
  padding: 90px 0px;
  z-index: 1;
}

#home-project > div{
  z-index: 2;
}
.logoframe {
  width: 502px;
  position: absolute;
  /* top: 50%; */
  left: 0;
  z-index: 1;
}

#project-box {
  z-index: 2;
  margin-left: 350px;
}

.blue-hr {
  width: 100%;
  background: #8bbcc7;
  border-radius: 10px;
  border: none;
  height: 10px;
}

#project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  margin-top: 20px;
  margin-bottom: 40px;
}

/* Member */
.home-header, .home-header > div {
  display: flex;
  align-items: center;
  gap: 30px;
}

#member-section {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 130px 0px;
}

#member-section > div {
  position: relative;
}

.member-flex-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 85px;
}

#member-section > div > .member-flex-container:nth-child(2) {
  margin-top: -70px;
}

#member-section > div > .member-flex-container:nth-child(3) {
  margin-top: 50px;
  margin-bottom: -70px;
}

#refresh-logo {
  position: absolute;
  right: -120px;
  width: 67px;
  top: 50%;
  cursor: pointer;
}

.rotate {
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.rotate-down {
  -moz-transform:rotate(-360deg);
  -webkit-transform:rotate(-360deg);
  transform:rotate(-360deg);
}

/* Article */
#home-article-container{
  display: flex;
  gap: 74px;
  align-items: center;

  margin: 50px 0px;
}

/* Collab */
#collab-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 90px;
}
.temp-collab {
  width: 105px;
  height: 105px;
  background-color: #86bac5;
  border-radius: 50%;
}

@media screen and (max-width: 1600px) {
  .prev-article-arrow {
    left: -60px;
  }
  
  .next-article-arrow {
    right: -60px;
  }

  #refresh-logo {
    right: -60px;
  }
}

@media screen and (max-width: 1440px) {
.prev-article-arrow {
    left: -80px;
    z-index: 9;
  }
  
  .next-article-arrow {
    right: -80px;
    z-index: 9;
  }

  #refresh-logo {
    right: -80px;
    z-index: 9;
  }

  .logoframe{
    width: 400px;
  }
}

@media screen and (max-width: 1280px) {
  .logoframe{
    width: 350px;
    opacity: 0.3;
  }

  #qx-logo{
    width: 250px;
  }

  .prev-article-arrow {
    left: 50px;
  }
  
  .next-article-arrow {
    right: 50px;
  }

  .prev-article-arrow, .next-article-arrow {
    width: 42px;
    }

  #refresh-logo {
    right: 20px;
  }

  #project-box{
    margin-left: 0px;
  }

  .member-flex-container{
    grid-template-columns: 1fr 1fr;
    gap: 65px;
    width: 85%;
  }

  #home-swiper{
    width: 80%;
  }

  #article{
    overflow-x: hidden;
  }

  #home-article-container{
    flex-direction: column;
    gap: 30px;
  }
}

@media screen and (max-width: 960px) {
  #home-swiper{
    width: 320px;
  }

  #research-tags{
    flex-wrap: wrap;
  }

  #home-about {
    padding: 25px 30px;
  }

  #qx-logo{
    width: 170px;
  }

  .temp-collab{
    height: 60px;
    width: 60px;
  }
  
}

@media screen and (max-width: 780px) {
  #landing-section{
    flex-direction: column;
    padding: 80px 0px;
    gap: 30px;
  }

  .orange-tri {
    width: 25px;
  }

  .home-header > div{
    gap: 20px;
  }

  .logoframe{
    display: none;
  }

  .project-grid{
    display: flex;
    flex-direction: column;
  }

  #home-landing-info{
    text-align: center;
  }

  #home{
    padding-top: 60px;
  }

  #refresh-logo{
    width: 50px;
    top: 30px;
  }

  .member-flex-container{
    width: 100% !important;
    gap: 25px;
  }

  #member-section > div > .member-flex-container:nth-child(2){
    margin-top: 110px;
  }

  #member-section{
    margin: 80px 0px;
  }
}

@media screen and (max-width: 490px) {
  .prev-article-arrow, .next-article-arrow {
    display: none;
    }

    /* #home-article, #member{
      display: none;
    } */

    #research-tags{
      gap: 20px;
    }

    #research-tags > div{
    padding: 1px 10px;
    }

    #home-about {
      padding: 10px 15px;
  }

  .member-flex-container{
    grid-template-columns: 1fr;
  }

  .home-header{
    flex-direction: column;
  }

  #collab-list{
    gap: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media screen and (min-width: 1440px) {
  #project-box{
    margin-left: 500px;
  }
}