#post-template {
  padding: 78px 0px;
}

.post-arrow {
  width: 32px;
}

#post-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

/* Title */
#post-title {
  margin-top: 27px;
}

.post-template-icon-container {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top:20px;
}

.post-template-icon{
  display: flex;
  align-items: center;
  gap: 10px;
}

#post-title > hr {
  margin-top: 39px;
  margin-bottom: 31px;
}

/* Image (Temp) */
.article-img {
  height: 310px;
  width: 100%;
  /* background-color: #8bbcc7; */
  border-radius: 20px;
  margin-bottom: 36px;
  object-fit: cover;
}

.research-img {
  height: 460px;
  width: 100%;
  background-color: #e5e5e5;
  border-radius: 20px;
  margin-bottom: 36px;
  object-fit: cover;
}

/* Tag */
#post-tag {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.writer {
  margin-top: 8px;
}

.post-grey-hr {
  margin-top: 23px;
  width: 18%;
  margin-bottom: 22px;
}

/* List */
.post-list > p {
  margin: 18px 0px;
}

#article-post-list > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 88px;
}

#project-post-list > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media screen and (max-width: 780px) {
  #post-template{
    padding-top: 120px;
  }

  #post-header{
    flex-wrap: wrap;
  }

  #article-post-list > div{
    grid-template-columns: 1fr 1fr;
  }

  #project-post-list > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 490px) {
  .research-img {
    height: 250px !important;
  }
}
